* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overall {
    padding: 100px;
}

.my {
    font-size: 56px;
    color: #253D4E;
}

.products {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    color: #7E7E7E;
}

.five {
    color: #3BB77E;
}

.main-div {
    padding-top: 50px;
}

.peanut {
    width: 100%;
}

.preview {
    color: #B6B6B6;
    padding-left: 70px;
    padding-right: 70px; 
}

.first {
  border: 1px solid #B6B6B6;
}

table {
    border: 1px solid #B6B6B6;
}

td {
    border-right: 1px solid #B6B6B6;
    border-bottom: 1px solid #B6B6B6;
    padding: 20px;
}

.peanutnew {
    border: none;
    border-bottom: 1px solid #B6B6B6;
}

.text {
    color: #253D4E;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
}

.text:hover {
    color: #ffc107;
}