.home-hero{
    width: 1240px;
    height: 467px;
    border-radius: 30px;
    background-image: url(../../assets/slider-2.png);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-left: 12px;
    padding-top: 70px;
    padding-left: 75px;
}
.ama-txt{
    font-size: 48px;
    line-height: 80px;
    color: rgb(37,61,78);
}
.home-hero h3{
    font-size: 25px;
    margin-top: 20px;
    color: rgb(126,126,126);
}
.send-icon{
    color: rgb(146,146,146);
    font-size: 20px;
}
.input-btn{
    width: 450px;
    height: 64px;
    border-radius: 50px;
    background-color: white;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}
.input-btn input{
    border-color: transparent;
    font-size: 15px;
    height: 64px;
    outline: none;
}
.input-btn button{
    width: 157.542px;
    height: 64px;
    background-color: rgb(59, 183, 126);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;

}

.all {
    color: grey;
    text-decoration: none;
}

.categories {
    padding-top: 100px;
    padding-left: 10px;
}

.each {
    font-size: 32px;
    color: #253D4E;
}

.uppercategory {
    display: flex;
    align-items: end;
    gap: 40px;
}

.description {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #253D4E;
}

.each-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #F4F6FA;
    padding: 35px;
    border-radius: 10px;
    width: 178px;
    transition: 0.3s;
}

.fruit {
    padding-left: 15px;
}


.description:hover {
    color: #3BB77E;
    transition: 0.3s;
}

.each-div:hover {
    background-color: white;
    border: #f4f4f4 1px solid;
    transition: 0.3s;
    cursor: pointer;
}