* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-section {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 200px;
}

.login-pic {
   width: 50%;
   border-radius: 10px;
}

.right-login {
    width: 100%;
}

.login-div {
    width: 100%;
    display: flex;
    gap: 40px;
}

.my {
    font-size: 56px;
    color: #253D4E;
}

.create {
    padding-top: 15px;
    color: #7E7E7E;
    font-weight: 500;
    padding-bottom: 20px;
}

.one {
    color: #3BB77E;
    text-decoration: none;
    transition: 0.3s;
}

.one:hover {
    color: #ffc107;
}

.name {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #ababab;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.name:focus {
    border: none;
    border: 1px solid #3BB77E;
}

.checkbox-wrapper-46 {
    padding-top: 30px;
    
}

.idk-div {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3BB77E;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #3BB77E;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #3BB77E;
    border-color: #3BB77E;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

  .formshi {
    width: 50%;
  }

  .login-btn {
    background-color: #253D4E;
    padding: 15px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    transition: 0.4s;
    margin-top: 30px;
  }

  .login-btn:hover {
       background-color: #3BB77E;
       transform: translateY(-10px);
       cursor: pointer;
  }

  .custom-radio-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 320px;
    border-radius: 12px;
    padding: 16px;
  }
  .custom-radio-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    transition:
      background-color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;
    font-size: 16px;
    color: black;
    user-select: none;
  }
  .custom-radio-container:hover {
    background-color: #3BB77E;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  .custom-radio-container input[type="radio"] {
    opacity: 0;
    position: absolute;
  }
  .custom-radio-checkmark {
    position: relative;
    height: 24px;
    width: 24px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    transition:
      background-color 0.4s ease,
      transform 0.4s ease;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
  }
  .custom-radio-container input[type="radio"]:checked + .custom-radio-checkmark {
    background-color: #ffffff;
    border-color: #007bff;
    transform: scale(1.2);
    animation: pulse 0.6s forwards;
  }
  .custom-radio-checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  .custom-radio-container
    input[type="radio"]:checked
    + .custom-radio-checkmark::after {
    display: block;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #3BB77E;
    transform: translate(-50%, -50%);
  }
  @keyframes pulse {
    0% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1.2);
    }
  }

  .forgot {
    color: grey;
    text-decoration: none;
    padding-top: 30px;
  }

  .face {
    background-color: #1877F2;
    text-decoration: none;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transition: 0.4s;
    border-radius: 10px;
  }

  .face:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

  }

  .text {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }

  .face-2 {
    text-decoration: none;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transition: 0.4s;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
  }

  .text-2 {
    font-size: 25px;
    font-weight: bold;
    color: #7E7E7E;
  }

  .face-2:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

  }

  .face-3 {
    text-decoration: none;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transition: 0.4s;
    border-radius: 10px;
    background-color: black;
  }

  .face-3:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

  }

  .socials-signup {
    border: 1px solid rgb(224, 224, 224);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .formshi {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 100px;
    justify-content: center;
  }

  .left-form {
    width: 50%;
  }

  @media screen and (max-width: 1404px){
      .login-section {
        padding-left: 100px;
        padding-right: 100px;
      }
  }

  @media screen and (max-width: 1183px){
    .login-section {
      padding-left: 40px;
      padding-right: 40px;
    }
}

@media screen and (max-width: 1002px){
      .formshi {
        flex-direction: column;
      }

      .left-form, .socials-signup {
        width: 100%;
      }
}

@media screen and (max-width: 510px){
    .text, .text-2 {
      font-size: 17px;
    }
}

@media screen and (max-width: 440px){
     .my {
      font-size: 35px;
     }

     .text, .text-2 {
      font-size: 14px;
     }
}


  